<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	 <!-- <link rel="icon" href="images/favicon.ico" type="image/ico" /> -->

    <title>Business Intelligence </title>

    <link href={{ url_for("static",filename="vendors/bootstrap/dist/css/bootstrap.min.css") }} rel="stylesheet">
    <link href={{ url_for("static",filename="vendors/font-awesome/css/font-awesome.min.css") }} rel="stylesheet">
    <link href={{ url_for("static",filename="vendors/nprogress/nprogress.css") }} rel="stylesheet">
    <link href={{ url_for("static",filename="vendors/iCheck/skins/flat/green.css") }} rel="stylesheet">
	  <link href={{ url_for("static",filename="vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css") }} rel="stylesheet">
    <link href={{ url_for("static",filename="vendors/jqvmap/dist/jqvmap.min.css") }} rel="stylesheet"/>
    <link href={{ url_for("static",filename="vendors/bootstrap-daterangepicker/daterangepicker.css") }} rel="stylesheet">
    <link href={{ url_for("static",filename="build/css/custom.min.css") }} rel="stylesheet">
  </head>

  <body class="nav-md">
    <input type="hidden" value="{{ user }}" id="user">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/home" class="site_title"> <span>Business Intelligence</span></a>
              <!-- <img src={{ url_for("static",filename="images/bi.png") }} alt="..." class="img-circle profile_img"> -->
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src={{ url_for("static",filename="images/bi.png") }} alt={{user}} class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{user}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <!-- <h3>General</h3> -->
                <ul class="nav side-menu">
                  <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
                  <li><a><i class="fa fa-edit"></i> Statements <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/add">Add</a></li>
                      <li><a href="">cashin</a></li>
                      <li><a href="">cashout</a></li>
                    </ul>

                    <li><a><i class="fa fa-table"></i>test2<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="">Test2.1</a></li>
                      <li><a href="">test2.2</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Data Representation <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="">Test 3.1</a></li>
                      <li><a href="">test 3.2</a></li>
                      <li><a href="">test 3.3</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-clone"></i>Extra <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="">test 4.1</a></li>
                      <li><a href="">test 4.2</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="menu_section">

              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="/dropsession">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/img.png" alt=""> {{ user }}&nbsp;
                    <span class=" fa fa-angle-down"> </span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <!-- <li> -->
                      <a href="javascript:;">
                        <!-- <span class="badge bg-red pull-right">50%</span> -->
                        <!-- <span>Settings</span> -->
                      </a>
                    <!-- </li> -->
                    <!-- <li><a href="javascript:;">Help</a></li> -->
                    <li><a href="/dropsession"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Asset</span>
              <div class="count">4200</div>
              <span class="count_bottom"><i class="green">Year </i> 2018</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total liabilities</span>
              <div class="count">800</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>Year </i> 2018</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Expenses</span>
              <div class="count green">89000</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>Year </i> 2018</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Revenue</span>
              <div class="count">75000</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>Year </i> 2018</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Finance</span>
              <div class="count">5,5000</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>Year </i> 2018</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Overall</span>
              <div class="count">5000</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>Year </i> 2018</span>
            </div>
          </div>
          <!-- /top tiles -->

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Reports <small>Graphical view</small></h3>
                  </div>
                  <div class="col-md-6">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-6 col-sm-9 col-xs-12" style="width:100%">
                  <img src="images/jetpack.png" alt="" style="width:inherit">User
                </div> -->
                <!-- <div class="clearfix"></div> -->
              </div>
            </div>
          </div>
          <br />

<!--
      eChart Section
 -->

                                        <!-- eChart 1 -->
          <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_700">
                <div class="x_title">
                  <h2>Balance Sheet</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <!-- <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                      </ul> -->
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                  <div id="main" style="width=100%; height:400px;"></div
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_700 overflow_hidden">
                <div class="x_title">
                  <h2>Profit & Loss</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <!-- <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul> -->
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div id="graph2" style="height:400px;"></div>
              </div>
            </div>

          <div class="row">
            <div class="col-md-12 col-sm-4 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Recent Activities <small>Sessions</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="dashboard-widget-content">

                    <ul class="list-unstyled timeline widget">
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                                              <a>What are the various factors which are required in the market &nbsp;</a>
                                          </h2>
                            <div class="byline">
                              <span>13 hours ago</span> by <a>Some Report </a>
                            </div>
                            <p class="excerpt">Top Management : The organizational structure, Board of Director, professionalization of management..etc..Factors like the amount of support the top management enjoys from different levels of employees, shareholders and Board of Directors have important influence on the marketing decisions and their implementation... <a>Read&nbsp;More</a>
                            </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                                              <a>Funds which are avaliable with the investor&nbsp;</a>
                                          </h2>
                            <div class="byline">
                              <span>13 hours ago</span> by <a>Some Report</a>
                            </div>
                            <p class="excerpt">A mutual fund is a company that pools money from many investors and invests the money in securities such as stocks, bonds, and short-term debt. The combined holdings of the mutual fund are known as its portfolio. Investors buy shares in mutual funds.… <a>Read&nbsp;More</a>
                            </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                                              <a>Most Basic Requirement for a startup&nbsp;Crowdfunding?</a>
                                          </h2>
                            <div class="byline">
                              <span>13 hours ago</span> by <a>Some report </a>
                            </div>
                            <p class="excerpt">After years of researching this question with Sonya Zhang, my co-author from the book The Smarter Startup, we developed a heuristic model that accounts for important criteria every new startup opportunity needs to be consider.  Heuristics are generally accepted best practices that can be useful in pointing the way.  We've broken these down into six major areas and created a scorecard to encourage assessment of an idea against each of these six major criteria:… <a>Read&nbsp;More</a>
                            </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                                              <a>Latest Technology in the market &nbsp;Crowdfunding?</a>
                                          </h2>
                            <div class="byline">
                              <span>13 hours ago</span> by <a>Some Report</a>
                            </div>
                            <p class="excerpt">Nov 16, 2016 - If you're already an entrepreneur, think about how you can leverage these technologies to reach your target audience in new ways. IoT and Smart Home Tech. AR and VR. Machine Learning. Automation. Humanized Big Data. ( Physical-Digital Integrations… <a>Read&nbsp;More</a>
                            </p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            <a href="https://colorlib.com"></a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- eChart  -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src={{ url_for("static",filename="js/echarts.js") }}></script>
    <script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        // var myChart = echarts.init(document.getElementById('main'));

        var business_id = $("#user").val();

        var source;
        $.ajax({
          'url':'/getBalanceSheet',
          'type':"post",
          'data':"business_id="+business_id,
          "success":function(res){
            var myChart = echarts.init(document.getElementById('main'));

            response = JSON.parse(res);
            var source = [['Year','Assets','Liabilities']];
            // alert(response[0].year);
            for(i=1,j=0; i<response.length + 1,j<response.length  ; i++,j++)
            {
              source.push([response[j].year,response[j].assets.total,response[j].liabilities.total]);
            }

            option = {
              legend: {},
              tooltip: {},
              dataset: {
                  source: source
              },
              xAxis: {type: 'category'},
              yAxis: {},
              // Declare several bar series, each will be mapped
              // to a column of dataset.source by default.
              series: [
                  {type: 'bar'},
                  {type: 'bar'}
              ]
          };


            // use configuration item and data specified to show chart
            myChart.setOption(option);
          }
        }
        );
        //
        // var MongoClient = require('mongodb').MongoClient;
        // var url = "mongodb://localhost:27017/";
        // MongoClient.connect(url, function(err, db) {
        //   if (err) throw err;
        //   var dbo = db.db("example");
        //   var query = { business_id: "Mehboob" };
        //   dbo.collection("balancesheet").find(query).toArray(function(err, result) {
        //     if (err) throw err;
        //     console.log(result);
        //     db.close();
        //   });
        // });

        // specify chart configuration item and data
    //     option = {
    //       legend: {},
    //       tooltip: {},
    //       dataset: {
    //           source: [
    //               ['product', 'Investment', 'Net Profit', 'Overall Profit'],
    //               ['Company 1', 50, 65.8, 23.7],
    //               ['Company 2', 80.1, 50.4, 55.1],
    //               ['Company 3', 36.4, 25.2, 26.5],
    //               ['Company 4', 35.4, 37.9, 10.1]
    //           ]
    //       },
    //       xAxis: {type: 'category'},
    //       yAxis: {},
    //       // Declare several bar series, each will be mapped
    //       // to a column of dataset.source by default.
    //       series: [
    //           {type: 'bar'},
    //           {type: 'bar'},
    //           {type: 'bar'}
    //       ]
    //   };
    //
    //
    //     // use configuration item and data specified to show chart
    //     myChart.setOption(option);
    // </script>

    <!-- 2nd Graph  -->
    <script>
    var myChart = echarts.init(document.getElementById('graph2'));

            var xData = function() {
            var data = [];
            for (var i = 1; i < 13; i++) {
                data.push("Company " + i);
            }
            return data;
          }();

          option = {
            backgroundColor: "#ffffff",
            "title": {
                "text": "Balance Sheet",
                x: "4%",

                textStyle: {
                    color: '#fff',
                    fontSize: '22'
                },
                subtextStyle: {
                    color: '#90979c',
                    fontSize: '16',

                },
            },
            "tooltip": {
                "trigger": "axis",
                "axisPointer": {
                    "type": "shadow",
                    textStyle: {
                        color: "#fff"
                    }

                },
            },
            "grid": {
                "borderWidth": 0,
                "top": 110,
                "bottom": 95,
                textStyle: {
                    color: "#fff"
                }
            },
            "legend": {
                x: '5%',
                top: '5%',
                textStyle: {
                    color: '#90979c',
                },
                "data": ['Investment', 'Profit', 'Diffrence']
            },


            "calculable": true,
            "xAxis": [{
                "type": "category",
                "axisLine": {
                    lineStyle: {
                        color: '#90979c'
                    }
                },
                "splitLine": {
                    "show": false
                },
                "axisTick": {
                    "show": false
                },
                "splitArea": {
                    "show": false
                },
                "axisLabel": {
                    "interval": 0,
                    "show": true,
                    "textStyle": {
                        "color": "#fff"
                      },
                },
                "data": xData,
            }],
            "yAxis": [{
                "type": "value",
                "splitLine": {
                    "show": false
                },
                "axisLine": {
                    lineStyle: {
                        color: '#90979c'
                    }
                },
                "axisTick": {
                    "show": false
                },
                "axisLabel": {
                    "interval": 0,
                    "show": true,
                    "textStyle": {
                        "color": "#fff"
                      }
                },
                "splitArea": {
                    "show": false
                },

            }],
            "dataZoom": [{
                "show": true,
                "height": 30,
                "xAxisIndex": [
                    0
                ],
                bottom: 30,
                "start": 0,
                "end": 40,
                handleIcon: 'path://M306.1,413c0,2.2-1.8,4-4,4h-59.8c-2.2,0-4-1.8-4-4V200.8c0-2.2,1.8-4,4-4h59.8c2.2,0,4,1.8,4,4V413z',
                handleSize: '110%',
                handleStyle: {
                    color: "#d3dee5",

                },
                textStyle: {
                    color: "#fff"
                },
                borderColor: "#90979c"


            }, {
                "type": "inside",
                "show": true,
                "height": 15,
                "start": 1,
                "end": 35
            }],
            "series": [{
                    "name": "Investment",
                    "type": "bar",
                    "stack": "total",
                    "barMaxWidth": 35,
                    "barGap": "10%",
                    "itemStyle": {
                        "normal": {
                            // "color": "rgba(255,0,0,1)",
                            "label": {
                                "show": true,
                                "textStyle": {
                                    "color": "#fff"
                                },
                                "position": "insideTop",
                                formatter: function(p) {
                                    return p.value > 0 ? (p.value) : '';
                                }
                            }
                        }
                    },
                    "data": [
                        709,
                        1917,
                        2455,
                        2610,
                        1719,
                        1433,
                        1544,
                        3285,
                        5208,
                        3372,
                        2484,
                        4078
                    ],
                },

                {
                    "name": "Profit",
                    "type": "bar",
                    "stack": "total",
                    "itemStyle": {
                        "normal": {
                            "color": "rgba(0,191,183,1)",
                            "barBorderRadius": 0,
                            "label": {
                                "show": true,
                                "position": "top",
                                formatter: function(p) {
                                    return p.value > 0 ? (p.value) : '';
                                }
                            }
                        }
                    },
                    "data": [
                        4500,
                        376,
                        507,
                        0000,
                        1800,
                        482,
                        204,
                        1390,
                        1001,
                        950,
                        0000,
                        2200
                    ]
                }, {
                    "name": "Diffrence",
                    "type": "line",
                    "stack": "total",
                    symbolSize: 10,
                    symbol: 'circle',
                    "itemStyle": {
                        "normal": {
                            "color": "rgba(20,20,88,1)",
                            "barBorderRadius": 0,
                            "label": {
                                "show": true,
                                "position": "top",
                                formatter: function(p) {
                                    return p.value > 0 ? (p.value) : '';
                                }
                            }
                        }
                    },
                    "data": [
                        1036,
                        393,
                        2862,
                        3810,
                        2519,
                        1915,
                        1748,
                        3175,
                        3009,
                        1923,
                        2065,
                        4098
                    ]
                },
            ]
          };
          myChart.setOption(option);
    </script>



    <!-- jQuery -->
    <script src={{ url_for("static",filename="vendors/jquery/dist/jquery.min.js") }}></script>
    <!-- Bootstrap -->
    <script src={{ url_for("static",filename="vendors/bootstrap/dist/js/bootstrap.min.js") }}></script>
    <!-- FastClick -->
    <script src={{ url_for("static",filename="vendors/fastclick/lib/fastclick.js") }}></script>
    <!-- NProgress -->
    <script src={{ url_for("static",filename="vendors/nprogress/nprogress.js") }}></script>
    <!-- Chart.js -->
    <script src={{ url_for("static",filename="vendors/Chart.js/dist/Chart.min.js") }}></script>
    <!-- gauge.js -->
    <script src={{ url_for("static",filename="vendors/gauge.js/dist/gauge.min.js") }}></script>
    <!-- bootstrap-progressbar -->
    <script src={{ url_for("static",filename="vendors/bootstrap-progressbar/bootstrap-progressbar.min.js") }}></script>
    <!-- iCheck -->
    <script src={{ url_for("static",filename="vendors/iCheck/icheck.min.js") }}></script>
    <!-- Skycons -->
    <script src={{ url_for("static",filename="vendors/skycons/skycons.js") }}></script>
    <!-- Flot -->
    <script src={{ url_for("static",filename="vendors/Flot/jquery.flot.js") }}></script>
    <script src={{ url_for("static",filename="vendors/Flot/jquery.flot.pie.js") }}></script>
    <script src={{ url_for("static",filename="vendors/Flot/jquery.flot.time.js") }}></script>
    <script src={{ url_for("static",filename="vendors/Flot/jquery.flot.stack.js") }}></script>
    <script src={{ url_for("static",filename="vendors/Flot/jquery.flot.resize.js") }}></script>
    <!-- Flot plugins -->
    <script src={{ url_for("static",filename="vendors/flot.orderbars/js/jquery.flot.orderBars.js") }}></script>
    <script src={{ url_for("static",filename="vendors/flot-spline/js/jquery.flot.spline.min.js") }}></script>
    <script src={{ url_for("static",filename="vendors/flot.curvedlines/curvedLines.js") }}></script>
    <!-- DateJS -->
    <script src={{ url_for("static",filename="vendors/DateJS/build/date.js") }}></script>
    <!-- JQVMap -->
    <script src={{ url_for("static",filename="vendors/jqvmap/dist/jquery.vmap.js") }}></script>
    <script src={{ url_for("static",filename="vendors/jqvmap/dist/maps/jquery.vmap.world.js") }}></script>
    <script src={{ url_for("static",filename="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js") }}></script>
    <!-- bootstrap-daterangepicker -->
    <script src={{ url_for("static",filename="vendors/moment/min/moment.min.js") }}></script>
    <script src={{ url_for("static",filename="vendors/bootstrap-daterangepicker/daterangepicker.js") }}></script>

    <!-- Custom Theme Scripts -->
    <script src={{ url_for("static",filename="build/js/custom.min.js") }}></script>

  </body>
</html>
